@media print {
	body {
		margin: 0;
	}
	.non-printable {
		display: none;
	}
}

@page {
	margin: 0;
}

@page: right {
}

.flex {
	display: flex;
	gap: 8px;
}

.space-after {
	margin-bottom: 8px;
}

.printable {
	display: flex;
	page-break-before: always;
}

.printable.right {
	justify-content: flex-end;
}

.invisible-download-link {
	display: none;
}
