@media print {
	body {
		margin: 0;
	}
	.non-printable {
		display: none;
	}
}

@page {
	margin: 0;
}

@page: right {
}

.printable {
	display: flex;
	page-break-before: always;
}

.printable.right {
	justify-content: flex-end;
}
